@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Merriweather:ital,wght@1,300&family=Montserrat&family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,400;1,100&family=Spline+Sans:wght@400;600;700&family=Yeseva+One&display=swap');
/* font family add */
body{
    font-family: 'Poppins', sans-serif;
    background-color:white;
}
/* img stysle */
#picture-style{
    height: 650px;
    width: 500px;
    margin: 20px;
    /* margin-top: 70px; */
   
}
/* input section css style */
.Input-section{
    background-color: 
    #F8F8F8;
    margin-top: 20px;
    margin-bottom: 20px;
   
    
}
/* income and expenses input */
.income-input{
   margin-left:150px;
   margin-top: 30px;
   margin-right: 10px;
  
}
.notify-section{
    width: 35%;
    margin: 0 auto;
    margin-bottom: 20px;
    
}
.notify {
    background: #222436;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    /* display: none; */
}
/* mobile divice responsive */
 @media only screen and (min-width: 350px) {
    .Input-section{
        text-align:center;
        margin-left: 80px;
       
    }
    .income-input{
       text-align:center;
       margin-left: 10px;
    }
    
    .save-input{
        text-align:center;
        align-items: center;
        margin-left: 10px;
    } 
    
} 
/* laptop divice responcive */
@media only screen and (min-width: 600px)  {
    .Input-section{
        margin-left:0px;
      text-decoration: none;
    }
   
}

    

   


